<h2>Movies</h2>
{{#each movies}}
{{!-- <br>{{title}}</br> --}}
<p>
<a href='/movies/{{_id}}'>{{title}}</a>
</p>

<button type="submit"><a href="/movies/{{this._id}}/edit">Edit</a></button>




<form action="movies/{{this._id}}/delete", method="post">
<button>Delete</button>
</form> 
{{/each}}

<a href='/movies/new'>Add a new movie</a>



